.fondo-contenedor {
  color: white;
  background-color: #3e4147;
  padding: 5% 3% 0;

  // height: 100vh;
}

h5.card-title {
  text-align: center;
  color: #3e4147;
}

p.card-text {
  color: #3e4147;
}
