<div class="row fondo-contenedor">

  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="https://image.tmdb.org/t/p/w300/6aQfiKqi19Orx4fhoICSib58xzx.jpg?x24666" class="card-img-top" alt="...">
      <div class="card-body menu-title">
        <h5 class="card-title">Gato con Botas 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-dark">Ver pelicula</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="https://image.tmdb.org/t/p/w300/moDLTCdLx38kMhN53KOTw0LdWMh.jpg?x24666" class="card-img-top" alt="...">
      <div class="card-body menu-title">
        <h5 class="card-title">Black Adam </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-dark">Ver pelicula</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="https://image.tmdb.org/t/p/w300/hqBeKurpfqoV5msTH5XttGLwFUv.jpg?x24666" class="card-img-top" alt="...">
      <div class="card-body menu-title">
        <h5 class="card-title">Noche de Paz</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-dark">Ver pelicula</a>
      </div>
    </div>
  </div>

</div>
