.fondo-contenedor {
  color: white;
  background-color: #3e4147;
  padding: 5% 3% 0;

  // height: 100vh;
}

h5.card-title {
  color: white;
}

p.card-text {
  color: #3e4147;
}

.menu-title {
  background-color: #567189;
  font-weight: bold;
  color: white;
}

p.card-text {
  color: white;
  font-style: italic;
  font-weight: normal;
}
