<div class="fondo-1 ">

  <div class="list-group mt-5 ms-4">
    <a href="#" class="list-group-item list-group-item-action menu-title" aria-current="true">
      Menu
    </a>
    <a href="#" class="list-group-item list-group-item-action menu-option">Plataformas</a>
    <a href="#" class="list-group-item list-group-item-action menu-option">Videos</a>
    <a href="#" class="list-group-item list-group-item-action menu-option">Acerca de nosotros</a>
    <a href="#" class="list-group-item list-group-item-action menu-option">Contacto</a>

  </div>


</div>
