<div class="fondo-1">

  <div class="list-group mt-5 ">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      Menu
    </a>
    <a href="#" class="list-group-item list-group-item-action">Plataformas</a>
    <a href="#" class="list-group-item list-group-item-action">Videos</a>
    <a href="#" class="list-group-item list-group-item-action">Acerca de nosotros</a>
    <a href="#" class="list-group-item list-group-item-action">Contacto</a>

  </div>


</div>
